.ui-button {
  display: block;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  border-radius: 8px !important;
  padding: 0px 26px;
  opacity: 1;
  height: 36px;
  line-height: 34px;
  font-weight: 300;
  border-width: 0px !important;
  border-style: solid;
  box-sizing: border-box;
}

.ui-button--transform-uppercase {
  font-size: 12px;
}

.ui-button--size-header {
  font-size: 16px;
  min-width: 80px;
  height: 40px;
  line-height: 38px;
  border-radius: 2px;
}

.ui-button--size-small {
  font-size: 12px;
  min-width: 60px;
}

.ui-button--size-medium {
  font-size: 14px;
  min-width: 80px;
}

.ui-button--size-square {
  width: 36px;
  padding: 0px;
}

.ui-button--size-large {
  min-width: 120px;
  font-size: 16px;
  letter-spacing: 0.29px;
}

.ui-button--color-transparent {
  background: transparent;
  border-color: transparent;
  color: #4749a0;
}

.ui-button--color-transparent:active {
  text-decoration: underline;
}

.ui-button--color-transparent:hover {
  text-decoration: underline;
}

.ui-button--color-primary {
  background: rgba(71, 73, 160, 0.1);
  color: #4749a0;
  border: 1px solid rgb(186, 186, 186);
}

.ui-button--color-primary.ui-button--disabled {
  background: rgba(71, 73, 160, 0.4);
}

.ui-button--color-primary:active {
  background: rgba(71, 73, 160, 0.4);
  color: #fff;
}

.ui-button--color-primary:hover {
  background: rgba(71, 73, 160, 0.8);
  color: #fff;
}

.ui-button--color-default {
  color: #000;
  background: rgba(255, 126, 92, 0.1);
  border-radius: 2px;
  border: 1px solid rgb(186, 186, 186);
  color: #ff7e5c;
}

.ui-button--color-default:active {
  background: rgba(255, 126, 92, 0.4);
  color: #fff;
}

.ui-button--color-default:hover {
  background: rgba(255, 126, 92, 0.8);
  color: #fff;
}

.ui-button--loading,
.ui-button--disabled {
  cursor: not-allowed;
}

.ui-button--color-danger {
  color: #000;
  background-color: rgba(255, 76, 67, 0.1);
  border: 1px solid rgb(186, 186, 186);
  border-radius: 4px;
  transition: 0.5s;
  cursor: pointer;
  color: #ff4c43;
}

.ui-button--color-danger:active {
  background-color: rgba(255, 76, 67, 0.4);
  outline: none;
  border: 1px solid rgb(186, 186, 186);
  color: #fff;
}

.ui-button--color-danger:hover {
  background-color: rgba(255, 76, 67, 0.8);
  outline: none;
  border: 1px solid rgb(186, 186, 186);
  color: #fff;
}

.ui-button--disabled {
  cursor: not-allowed;
}

.ui-button__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 400;
}
