.drawer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  padding-bottom: 8px;
}

.drawer-card__avatar {
  margin-top: 14px;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7f88b2;
  border-radius: 12px;
}

.drawer-card__avatar > span {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}

.drawer-card__name {
  margin-top: 11px;
  font-size: 16px;
  font-weight: 600;
  color: #272c5e;
}

.drawer-card__btns {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 12px;
}

.drawer-card__btns > button {
  width: 86px;
}
