.ant-drawer-content-wrapper {
  width: 350px !important;
}

.ant-drawer-body {
  padding: 12px;
}

.ant-drawer-wrapper-body {
  background-color: #F5F6FA;
}

.m-4 {
  margin: 4px;
}

.m-8 {
  margin: 8px;
}

.m-12 {
  margin: 16px;
}

.m-16 {
  margin: 16px;
}

.p-4 {
  padding: 4px;
}

.p-8 {
  padding: 8px;
}

.p-12 {
  padding: 12px;
}

.p-16 {
  padding: 16px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.pt-4 {
  padding-top: 4px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-12 {
  padding-top: 8px;
}

.pt-16 {
  padding-top: 16px;
}

